/*
    We start with a good ol' reset.
    That's the one by Eric Meyer http://meyerweb.com/eric/tools/css/reset/

    You can probably argue if it is needed here, or not, but for sure it
    doesn't do any harm and gives us a fresh start.
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
body { line-height: 1 }
ol, ul { list-style: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


/* MAIN STYLES
=========================================== */
html { font-size: 62.5%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body { font-family: 'PT Sans', sans-serif; font-size: 14px; line-height: 1.428571429; color: #333333; min-height: 740px; background: rgb(215, 215, 215); background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190))); background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190)); background: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190)); background: -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190)); background: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190)); background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190)); }
b, strong { font-weight: bold }
i, em { font-style: italic }
a { color: inherit; text-decoration: none; padding: 0 0.1em; background: rgba(255,255,255,0.5); text-shadow: -1px -1px 2px rgba(100,100,100,0.9); border-radius: 0.2em; -webkit-transition: 0.5s; -moz-transition: 0.5s; -ms-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }
a:hover, a:focus { background: rgba(255,255,255,1); text-shadow: -1px -1px 2px rgba(100,100,100,0.5); }
/* Image settings */
img { vertical-align: middle }
.img-responsive { display: block; height: auto; max-width: 100%; }
.img-rounded { border-radius: 6px }
.img-thumbnail { display: inline-block; height: auto; max-width: 100%; padding: 4px; line-height: 1.428571429; background-color: #ffffff; border: 1px solid #dddddd; border-radius: 4px; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.img-circle { border-radius: 50% }
.img-halfsies { margin: 0 auto; width: 50%; }
hr { margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #eeeeee; }
ul, ol { margin-top: 0; margin-bottom: 10px; }
    ul ul, ol ul, ul ol, ol ol { margin-bottom: 0 }
.list-unstyled { padding-left: 0; list-style: none; }
.list-inline { padding-left: 0; list-style: none; }
    .list-inline > li { display: inline-block; padding-right: 5px; padding-left: 5px; }
p { margin: 0 0 10px }
.lead { margin-bottom: 20px; font-size: 16.099999999999998px; font-weight: 200; line-height: 1.4; }
.text-muted { color: #999999 }
.text-primary { color: #428bca }
.text-warning { color: #c09853 }
.text-danger { color: #b94a48 }
.text-success { color: #468847 }
.text-info { color: #3a87ad }
.text-left { text-align: left }
.text-right { text-align: right }
.text-center { text-align: center }
/* Base Header styles */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 500; line-height: 1.1; color: inherit; }
    h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small { font-weight: normal; line-height: 1; color: #999999; }
h1, h2, h3 { margin-top: 20px; margin-bottom: 10px; }
    h1 small, h2 small, h3 small { font-size: 65% }
h4, h5, h6 { margin-top: 10px; margin-bottom: 10px; }
    h4 small, h5 small, h6 small { font-size: 75% }
h1, .h1 { font-size: 66px }
h2, .h2 { font-size: 50px }
h3, .h3 { font-size: 44px }
h4, .h4 { font-size: 38px }
h5, .h5 { font-size: 34px }
h6, .h6 { font-size: 32px }
.tagline { float: right; bottom: 0; margin: 10px; z-index: 100; }
.tagline:after { clear: both }
.slide ol, .slide ul { list-style: disc; margin-left: 1.5em; line-height: 1.5em; margin-top: 0.5em; }
.slide li { margin-bottom: 1em;}
.fallback-message { font-family: sans-serif; line-height: 1.3; width: 780px; padding: 10px 10px 0; margin: 20px auto; border: 1px solid #E4C652; border-radius: 10px; background: #EEDC94; }
    .fallback-message p { margin-bottom: 10px }
.impress-supported .fallback-message { display: none }
.step { position: relative; width: 900px; padding: 40px; margin: 20px auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; font-family: 'PT Serif', georgia, serif; font-size: 48px; line-height: 1.5; }
.impress-enabled .step { margin: 0; opacity: 0.3; -webkit-transition: opacity 1s; -moz-transition: opacity 1s; -ms-transition: opacity 1s; -o-transition: opacity 1s; transition: opacity 1s; }
.impress-enabled .step.active { opacity: 1 }
/*
    These 'slide' step styles were heavily inspired by HTML5 Slides:
    http://html5slides.googlecode.com/svn/trunk/styles.css
*/
.slide { display: block; width: 900px; height: 700px; padding: 40px 60px; background-color: #fafafa; border: 1px solid rgba(0, 0, 0, .3); border-radius: 10px; box-shadow: 0 2px 6px rgba(0, 0, 0, .1); color: rgb(102, 102, 102); text-shadow: 0 2px 2px rgba(0, 0, 0, .1); font-family: 'Open Sans', Arial, sans-serif; font-size: 30px; line-height: 36px; letter-spacing: -1px; }
.slide.html { height: 800px; padding: 20px 60px; -webkit-transform: scale(0.7); -moz-transform: scale(0.7); -ms-transform: scale(0.7); -o-transform: scale(0.7); transform: scale(0.7); }
.slide q { display: block; font-size: 50px; line-height: 72px; margin-top: 100px; }
    .slide q strong { white-space: nowrap }

/* Additional global classes  */
.annotation { color: #2980b9; font-size: 18px; position: absolute; bottom: -50px; right: 0; font-style: italic; }
.clearfix:before, .clearfix:after { display: table; content: " "; }
.clearfix:after { clear: both }
.center-block { display: block; margin-right: auto; margin-left: auto; }
.inline-block { position: relative; display: inline-block; margin-right: auto; margin-left: auto; }
.pull-right { float: right !important }
.pull-left { float: left !important }
.hide { display: none !important }
.show { display: block !important }
.invisible { visibility: hidden }
.text-hide { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }
.text-center { text-align: center; }
.affix { position: fixed }
.fat { margin-top: 4em }
.chubby, .slide .chubby { margin-top: 2em }
.highlight { background-color: rgba(150,150,150,0.4); }
.smaller-text { font-size: 0.8em; }


/*  Global Animation Classes
//
//  Formal syntax: <single-animation-name> || <time> || <timing-function> || <time> || <single-animation-iteration-count> || <single-animation-direction> || <single-animation-fill-mode> */
.viewport { min-height: 100px; nowhitespace: afterproperty; width: 48%; /*overflow: hidden;*/ ; }

/* To hide elements before they slide-in */
#step-2 .easein, #step-2 .animatein-left, #step-8 .easein, #step-8 .animatein-left, #step-9 .animatein-left, #step-23 .delay, #step-27 .easein, #step-27 .animatein-left { display: none }
/* To keep visible after they have shown */
#step-2.past .easein, #step-2.past .animatein-left, #step-8.past .easein, #step-8.past .animatein-left, #step-9.past .animatein-left, #step-23.past .delay, #step-27.past .easein, #step-27.past .animatein-left { display: inline-block }

/* Crappy hacks */
#step-8 li, #step-29 li { margin-bottom: 0.3em; }

.present.shrink { display: inline-block; -webkit-transform: scale(0.7); -moz-transform: scale(0.7); -ms-transform: scale(0.7); -o-transform: scale(0.7); transform: scale(0.7); -webkit-transition-duration: 1s; -moz-transition-duration: 1s; -ms-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; -webkit-transition-delay: 2.0s; -moz-transition-delay: 2.0s; -ms-transition-delay: 2.0s; -o-transition-delay: 2.0s; transition-delay: 2.0s; }

/* hide the notes on the slides so they only show in the console */
.notes { visibility: hidden;}

/*  And now we start to style each step separately.
    I agree that this may be not the most efficient, object-oriented and
    scalable way of styling, but most of steps have quite a custom look
    and typography tricks here and there, so they had to be styled separately.
    First is the title step with a big <h1> (no room for padding) and some
    3D positioning along Z axis. */


/* Slide 2 */
#step-2.present .easein { display: inline-block; position: relative; width: 100%; margin: 2em 1em; -moz-animation: move_in_right 1s linear; -webkit-animation: move_in_right 1s linear; -o-animation: move_in_right 1s linear; -ms-animation: move_in_right 1s linear; }
@-webkit-keyframes move_in_right {
    from { margin-left: 100% }
    to { margin-left: 0 }
}
@-moz-keyframes move_in_right {
    from { margin-left: 100% }
    to { margin-left: 0 }
}
@-o-keyframes move_in_right {
    from { margin-left: 100% }
    to { margin-left: 0 }
}
@keyframes move_in_right {
    from { margin-left: 100% }
    to { margin-left: 0 }
}
#step-2.present .animatein-left { display: inline-block; position: relative; margin: 0; -webkit-animation: move_in_left 1s linear; -moz-animation: move_in_left 1s linear; -o-animation: move_in_left 1s linear; animation: move_in_left 1s linear; }
@-webkit-keyframes move_in_left {
    from { margin-left: -500px }
    to { margin-left: 10% }
}
@-moz-keyframes move_in_left {
    from { margin-left: -500px }
    to { margin-left: 10% }
}
@-o-keyframes move_in_left {
    from { margin-left: -500px }
    to { margin-left: 10% }
}
@keyframes move_in_left {
    from { margin-left: -500px }
    to { margin-left: 10% }
}

/* Slide 3 */
#title { padding: 0 }
    #title .try { font-size: 64px; line-height: 1; position: absolute; top: -0.5em; left: 0.5em; -webkit-transform: translateZ(20px); -moz-transform: translateZ(20px); -ms-transform: translateZ(20px); -o-transform: translateZ(20px); transform: translateZ(20px); }
    #title h1 { font-size: 170px; line-height: 1.5; -webkit-transform: translateZ(100px); -moz-transform: translateZ(100px); -ms-transform: translateZ(100px); -o-transform: translateZ(100px); transform: translateZ(100px); }
    #title .footnote { font-size: 40px; font-style: italic; text-align: center; -webkit-transform: translateZ(20px); -moz-transform: translateZ(20px); -ms-transform: translateZ(20px); -o-transform: translateZ(20px); transform: translateZ(20px); }

/* Slide 4 */
#going { width: 800px; text-align: left; font-size: 60px; line-height: 1.5; }

/* Slide 5 */
#big, .big { text-align: center; font-size: 60px; line-height: 1; }
    #big b, .big b { display: block; font-size: 80px; line-height: 80px; }
    #big .thoughts, .big .thoughts { font-size: 90px; line-height: 150px; }

/* Slide 6 */
#tiny { width: 500px; text-align: center; }
    #tiny b { display: inline-block; -webkit-transition: 0.5s; -moz-transition: 0.5s; -ms-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }
#tiny.present .shrink { -webkit-transform: scale(0.6); -moz-transform: scale(0.6); -ms-transform: scale(0.6); -o-transform: scale(0.6); transform: scale(0.6); -webkit-transition-duration: 2.0s; -moz-transition-duration: 2.0s; -ms-transition-duration: 2.0s; -o-transition-duration: 2.0s; transition-duration: 2.0s; -webkit-transition-delay: 0.5s; -moz-transition-delay: 0.5s; -ms-transition-delay: 0.5s; -o-transition-delay: 0.5s; transition-delay: 0.5s; }

/* Slide 7 */
#ing { width: 700px; font-size: 64px; }
/*... so we define display to `inline-block` to enable transforms and transition duration to 0.5s ...*/
    #ing b { display: inline-block; -webkit-transition: 0.5s; -moz-transition: 0.5s; -ms-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }
/*... and we want 'positioning` word to move up a bit when the step gets `present` class ...*/
#ing.present .positioning { margin: 20px; -webkit-transform: translateY(-10px) scale(1.3); -moz-transform: translateY(-10px) scale(1.3); -ms-transform: translateY(-10px) scale(1.3); -o-transform: translateY(-10px) scale(1.3); transform: translateY(-10px) scale(1.3); }
/*... 'rotating' to rotate a quarter of a second later ...*/
#ing.present .rotating { -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -ms-transform: rotate(-10deg); -o-transform: rotate(-10deg); transform: rotate(-10deg); -webkit-transition-delay: 0.25s; -moz-transition-delay: 0.25s; -ms-transition-delay: 0.25s; -o-transition-delay: 0.25s; transition-delay: 0.25s; }
/*... and 'scaling' to scale down after another quarter of a second.*/
#ing.present .scaling { margin: 0 10px 0 20px; -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); -webkit-transition-delay: 0.5s; -moz-transition-delay: 0.5s; -ms-transition-delay: 0.5s; -o-transition-delay: 0.5s; transition-delay: 0.5s; }

/* Slide  8 */
#step-8.present .easein, #step-27.present .easein  { display: inline-block; position: relative; width: 100%; margin: 0.5em 1em 1em 0.5em; -moz-animation: move_in_righto 1s linear; -webkit-animation: move_in_righto 1s linear; -o-animation: move_in_righto 1s linear; -ms-animation: move_in_righto 1s linear; animation: move_in_righto 1s linear; }
@-webkit-keyframes move_in_righto {
    from { margin-left: 100% }
    to { margin-left: 0 }
}
@-moz-keyframes move_in_righto {
    from { margin-left: 100% }
    to { margin-left: 0 }
}
@-o-keyframes move_in_righto {
    from { margin-left: 100% }
    to { margin-left: 0 }
}
@keyframes move_in_righto {
    from { margin-left: 100% }
    to { margin-left: 0 }
}
#step-8.present .animatein-left, #step-27.present .animatein-left { display: inline-block; position: relative; margin: 0; -webkit-animation: move_in_lefto 1s linear; -moz-animation: move_in_lefto 1s linear; -o-animation: move_in_lefto 1s linear; animation: move_in_lefto 1s linear; }
@-webkit-keyframes move_in_lefto {
    from { margin-left: -500px }
    to { margin-left: 10% }
}
@-moz-keyframes move_in_lefto {
    from { margin-left: -500px }
    to { margin-left: 10% }
}
@-o-keyframes move_in_lefto {
    from { margin-left: -500px }
    to { margin-left: 10% }
}
@keyframes move_in_lefto {
    from { margin-left: -500px }
    to { margin-left: 10% }
}


/* Slide 9 */
#step-9.present .animatein-left { display: inline-block; position: relative; margin-left: -1000px; opacity: 0; -webkit-animation: move_in_lefty 1s 0s linear; -moz-animation: move_in_lefty 1s 0s linear; -o-animation: move_in_lefty 1s 0s linear; animation: move_in_lefty 1s 0s linear; -webkit-animation-fill-mode: forwards; -moz-animation-fill-mode: forwards; -o-animation-fill-mode: forwards; animation-fill-mode: forwards; }
@-webkit-keyframes move_in_lefty {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 50px; opacity: 1; visibility: visible; }
}
@-moz-keyframes move_in_lefty {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 50px; opacity: 1; visibility: visible; }
}
@-o-keyframes move_in_lefty {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 50px; opacity: 1; visibility: visible; }
}
@keyframes move_in_lefty {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 50px; opacity: 1; visibility: visible; }
}
.bigger { -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); -o-transform: scale(1.3); transform: scale(1.3); }
#source { width: 700px; padding-bottom: 300px; }
    #source q { font-size: 60px }

/* Slide 10 */
#one-more-thing { }
/*
    And the "it's in 3D" step again brings some 3D typography - just for fun.

    Because we want to position <span> elements in 3D we set transform-style to
    `preserve-3d` on the paragraph.
    It is not needed by webkit browsers, but it is in Firefox. It's hard to say
    which behaviour is correct as 3D transforms spec is not very clear about it.
*/

/* Slide 11 */
#its-in-3d p { font-size: 1.7em; nowhitespace: afterproperty; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; /* Y U need this Firefox?! */ -ms-transform-style: preserve-3d; -o-transform-style: preserve-3d; transform-style: preserve-3d; ; }
/*
    Below we position each word separately along Z axis and we want it to transition
    to default position in 0.5s when the step gets `present` class.

    Quite a simple idea, but lot's of styles and prefixes.
*/
#its-in-3d span, #its-in-3d b { display: inline-block; -webkit-transform: translateZ(40px); -moz-transform: translateZ(40px); -ms-transform: translateZ(40px); -o-transform: translateZ(40px); transform: translateZ(40px); -webkit-transition: 0.5s; -moz-transition: 0.5s; -ms-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }
#its-in-3d .have { -webkit-transform: translateZ(-40px); -moz-transform: translateZ(-40px); -ms-transform: translateZ(-40px); -o-transform: translateZ(-40px); transform: translateZ(-40px); }
#its-in-3d .you { -webkit-transform: translateZ(20px); -moz-transform: translateZ(20px); -ms-transform: translateZ(20px); -o-transform: translateZ(20px); transform: translateZ(20px); }
#its-in-3d .noticed { -webkit-transform: translateZ(-40px); -moz-transform: translateZ(-40px); -ms-transform: translateZ(-40px); -o-transform: translateZ(-40px); transform: translateZ(-40px); }
#its-in-3d .its { -webkit-transform: translateZ(60px); -moz-transform: translateZ(60px); -ms-transform: translateZ(60px); -o-transform: translateZ(60px); transform: translateZ(60px); }
#its-in-3d .in { -webkit-transform: translateZ(-10px); -moz-transform: translateZ(-10px); -ms-transform: translateZ(-10px); -o-transform: translateZ(-10px); transform: translateZ(-10px); }
#its-in-3d .footnote { font-size: 32px; -webkit-transform: translateZ(-10px); -moz-transform: translateZ(-10px); -ms-transform: translateZ(-10px); -o-transform: translateZ(-10px); transform: translateZ(-10px); }
#its-in-3d.present span, #its-in-3d.present b { -webkit-transform: translateZ(0px); -moz-transform: translateZ(0px); -ms-transform: translateZ(0px); -o-transform: translateZ(0px); transform: translateZ(0px); }
.slide .prettyprint { font-size: .8em; line-height: 1em; width: 85%; letter-spacing: .1em; }
.html pre.prettyprint { margin: 0.5em; padding: 0.5em; }

/* Code Slides */

#step-16.present .delay-top, #step-17.present .delay-top, #step-18.present .delay-top, #step-19.present .delay-top {
    display: inline-block;
    position: relative;
    /*margin: 0;*/
    visibility: hidden;
    margin-top: -1000px;
    -webkit-animation: sliding_ins 1s 3s linear;
    -moz-animation: sliding_ins 1s 3s linear;
    -o-animation: sliding_ins 1s 3s linear;
    animation: sliding_ins 1s 3s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes sliding_ins {
    0% { margin-top: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-top: 0px; opacity: 1; visibility: visible; }
}
@-moz-keyframes sliding_ins {
    0% { margin-top: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-top: 0px; opacity: 1; visibility: visible; }
}
@-o-keyframes sliding_ins {
    0% { margin-top: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-top: 0px; opacity: 1; visibility: visible; }
}
@keyframes sliding_ins {
    0% { margin-top: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-top: 0px; opacity: 1; visibility: visible; }
}

#step-23.present .delay, #step-24.present .delay, #step-25.present .delay {
    display: inline-block;
    position: relative;
    /*margin: 0;*/
    visibility: hidden;
    margin-left: -1000px;
    -webkit-animation: sliding_in 1s 4s linear;
    -moz-animation: sliding_in 1s 4s linear;
    -o-animation: sliding_in 1s 4s linear;
    animation: sliding_in 1s 4s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes sliding_in {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
@-moz-keyframes sliding_in {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
@-o-keyframes sliding_in {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
@keyframes sliding_in {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}


/* =====================================
    Tiered Slide-in Animation */
#step-20.present .step-first, #step-26.present .step-first, #step-27.present .step-first {
    /*display: inline-block;*/
    position: relative;
    visibility: hidden;
    margin-left: -1000px;
    -webkit-animation: first-slide 1s 0s linear;
    -moz-animation: first-slide 1s 0s linear;
    -o-animation: first-slide 1s 0s linear;
    animation: first-slide 1s 0s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes first-slide {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
@-moz-keyframes first-slide {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
@-o-keyframes first-slide {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
@keyframes first-slide {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
#step-20.present .step-second, #step-26.present .step-second, #step-27.present .step-second {
    /*display: inline-block;*/
    position: relative;
    visibility: hidden;
    margin-left: -1000px;
    -webkit-animation: second-slide 1s 4s linear;
    -moz-animation: second-slide 1s 4s linear;
    -o-animation: second-slide 1s 4s linear;
    animation: second-slide 1s 4s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes second-slide {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
@-moz-keyframes second-slide {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
@-o-keyframes second-slide {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
@keyframes second-slide {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
#step-20.present .step-third, #step-26.present .step-third, #step-27.present .step-third {
    /*display: inline-block;*/
    position: relative;
    visibility: hidden;
    margin-left: -1000px;
    -webkit-animation: third-slide 1s 8s linear;
    -moz-animation: third-slide 1s 8s linear;
    -o-animation: third-slide 1s 8s linear;
    animation: third-slide 1s 8s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes third-slide {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
@-moz-keyframes third-slide {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
@-o-keyframes third-slide {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
@keyframes third-slide {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
#step-20.present .step-forth, #step-26.present .step-forth, #step-27.present .step-forth {
    /*display: inline-block;*/
    position: relative;
    visibility: hidden;
    margin-left: -1000px;
    -webkit-animation: forth-slide 1s 12s linear;
    -moz-animation: forth-slide 1s 12s linear;
    -o-animation: forth-slide 1s 12s linear;
    animation: forth-slide 1s 12s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes forth-slide {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
@-moz-keyframes forth-slide {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
@-o-keyframes forth-slide {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
@keyframes forth-slide {
    0% { margin-left: -1000px; opacity: 0; visibility: hidden; }
    100% { margin-left: 0px; opacity: 1; visibility: visible; }
}
/* ===================================== */

/* Slide  27 */
/*#step-27.present .easein { display: inline-block; position: relative; width: 100%; margin: 1em 1em 1em 0.5em; -moz-animation: move_in_right 1s linear; -webkit-animation: move_in_right 1s linear; -o-animation: move_in_right 1s linear; -ms-animation: move_in_right 1s linear; }
@-webkit-keyframes move_in_right {
    from { margin-left: 100% }
    to { margin-left: 0 }
}
@-moz-keyframes move_in_right {
    from { margin-left: 100% }
    to { margin-left: 0 }
}
@-o-keyframes move_in_right {
    from { margin-left: 100% }
    to { margin-left: 0 }
}
@keyframes move_in_right {
    from { margin-left: 100% }
    to { margin-left: 0 }
}
#step-27.present .animatein-left { display: inline-block; position: relative; margin: 0; -webkit-animation: move_in_left 1s linear; -moz-animation: move_in_left 1s linear; -o-animation: move_in_left 1s linear; animation: move_in_left 1s linear; }
@-webkit-keyframes move_in_left {
    from { margin-left: -500px }
    to { margin-left: 10% }
}
@-moz-keyframes move_in_left {
    from { margin-left: -500px }
    to { margin-left: 10% }
}
@-o-keyframes move_in_left {
    from { margin-left: -500px }
    to { margin-left: 10% }
}
@keyframes move_in_left {
    from { margin-left: -500px }
    to { margin-left: 10% }
}*/
/*code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; margin: 0; padding: 0; }
code, pre { font-family: Monaco, Menlo, Consolas, "Courier New", monospace }
code { padding: 2px 4px; font-size: 90%; color: #c7254e; white-space: nowrap; background-color: #f9f2f4; border-radius: 4px; }
pre { display: block; padding: 9.5px; margin: 0 0 10px; font-size: 13px; line-height: 1.428571429; color: #333333; word-break: break-all; word-wrap: break-word; background-color: #f5f5f5; border: 1px solid #cccccc; border-radius: 4px; }
pre.prettyprint { margin-bottom: 20px }
pre code { padding: 0; font-size: inherit; color: inherit; white-space: pre-wrap; background-color: transparent; border: 0; }
*/
/*.slide pre .pln, .slide code .pln {
    width: 0;
    margin: 0;
    padding: 0;
}*/

/*The last step is an overview. There is no content in it, so we make sure it's not visible because we want to be able to click on other steps.*/
#overview { display: none }
/*We also make other steps visible and give them a pointer cursor using the `impress-on-` class.*/
.impress-on-overview .step { opacity: 1; cursor: pointer; }


.hint { /*: ; nowhitespace: afterproperty; */ display: none; /*: ; nowhitespace: afterproperty; ... and give it some fixed position and nice styles.: ; */ position: fixed; left: 0; right: 0; bottom: 200px; background: rgba(0,0,0,0.5); color: #EEE; text-align: center; font-size: 50px; padding: 20px; z-index: 100; /*: ; nowhitespace: afterproperty; */ opacity: 0; /*: ; nowhitespace: afterproperty; ... and position it below the bottom of the screen (relative to it's fixed position): ; */ -webkit-transform: translateY(400px); -moz-transform: translateY(400px); -ms-transform: translateY(400px); -o-transform: translateY(400px); transform: translateY(400px); /*: ; */ -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s; -moz-transition: opacity 1s,    -moz-transform 0.5s 1s; -ms-transition: opacity 1s,     -ms-transform 0.5s 1s; -o-transition: opacity 1s,      -o-transform 0.5s 1s; transition: opacity 1s,         transform 0.5s 1s;  }
/*Now we 'enable' the hint when presentation is initialized ...*/
.impress-enabled .hint { display: block }
/*... and we will show it when the first step (with id 'bored') is active.*/
.impress-on-bored .hint { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s; -moz-transition: opacity 1s 5s,    -moz-transform 0.5s 4.5s; -ms-transition: opacity 1s 5s,     -ms-transform 0.5s 4.5s; -o-transition: opacity 1s 5s,      -o-transform 0.5s 4.5s; transition: opacity 1s 5s,         transform 0.5s 4.5s; }

.impress-enabled { pointer-events: none }
    .impress-enabled #impress { pointer-events: auto }
